@charset "ISO-8859-1";

*{
	margin:0px;
	padding:0px;
}

body{
	background:grey;
}

h3{
	text-align:center;
	margin-top:100px
}

button,a {
	border:1px,solid,black;
	color:white;
	background:orangered;
	margin-top:10px;
	width:150px;
	text-decoration:none;
	text-align:center;
}
form
{
	text-align:center;
	margin-top:10px;
}

input
{
	margin-top:10px;
	width:150px;
	height:30px;
	border-radius:5px;
	border:1px solid orangered;
}
p,a
{
	text-align:center;
}

.button{
	text-align:center;
}